{
    "openapi": "3.1.0",
    "info": {
        "title": "Plotweaver AI Voice API",
        "version": "0.1.0"
    },
    "servers": [
        {
          "url": "https://voice.plotweaver.app",
          "description": "Staging Server"
        }
    ],
    "paths": {
        "/v1/videos/subtitle": {
            "post": {
                "tags": [
                    "Video"
                ],
                "summary": "Subtitle Video File",
                "description": "**Generate and Overlay Subtitles onto a Video**\n\nProcesses an input video to extract audio, generate transcriptions,\nand burn-in or side-load subtitles based on the provided configuration.",
                "operationId": "subtitle_video_file_v1_videos_subtitle_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SubtitleVideoModel"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/voices/streams": {
            "get": {
                "tags": [
                    "Voice"
                ],
                "summary": "List Audio Streams",
                "description": "**List Voice Streams Performed by the User**",
                "operationId": "list_audio_streams_v1_voices_streams_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "$ref": "#/components/schemas/VoiceModel"
                                    },
                                    "type": "array",
                                    "title": "Response List Audio Streams V1 Voices Streams Get"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "APIKeyHeader": []
                    },
                    {
                        "HTTPBearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Voice"
                ],
                "summary": "Stream Audio File",
                "description": "**Stream Real-Time AI Audio Synthesis**\n\nConverts Speech from one source Language to a Target Language while maintaining a very low latency",
                "operationId": "stream_audio_file_v1_voices_streams_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StreamAudioModel"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VoiceModel"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "APIKeyHeader": []
                    },
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/v1/voices/streams/{voice_id}": {
            "get": {
                "tags": [
                    "Voice"
                ],
                "summary": "Get Audio Stream",
                "description": "**Get Voice Stream by the Id**",
                "operationId": "get_audio_stream_v1_voices_streams__voice_id__get",
                "security": [
                    {
                        "APIKeyHeader": []
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "voice_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Voice Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VoiceModel"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Voice"
                ],
                "summary": "Delete Audio Stream",
                "description": "**Delete Voice Stream by the Id**",
                "operationId": "delete_audio_stream_v1_voices_streams__voice_id__delete",
                "security": [
                    {
                        "APIKeyHeader": []
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "voice_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Voice Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/audio_books/": {
            "get": {
                "tags": [
                    "Audio Book"
                ],
                "summary": "List Audio Books",
                "operationId": "list_audio_books_v1_audio_books__get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "$ref": "#/components/schemas/AudioBookModel"
                                    },
                                    "type": "array",
                                    "title": "Response List Audio Books V1 Audio Books  Get"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "APIKeyHeader": []
                    },
                    {
                        "HTTPBearer": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Audio Book"
                ],
                "summary": "Create Audio Book",
                "description": "This Creates an Audio Book and immediately starts AI Processing on the Audio book input Text.",
                "operationId": "create_audio_book_v1_audio_books__post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateAudioBookModel"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudioBookModel"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "APIKeyHeader": []
                    },
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/v1/audio_books/{audio_book_id}": {
            "get": {
                "tags": [
                    "Audio Book"
                ],
                "summary": "Get Audio Book",
                "operationId": "get_audio_book_v1_audio_books__audio_book_id__get",
                "security": [
                    {
                        "APIKeyHeader": []
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "audio_book_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Audio Book Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudioBookModel"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Audio Book"
                ],
                "summary": "Update Audio Book",
                "operationId": "update_audio_book_v1_audio_books__audio_book_id__patch",
                "security": [
                    {
                        "APIKeyHeader": []
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "audio_book_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Audio Book Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateAudioBookModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudioBookModel"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Audio Book"
                ],
                "summary": "Delete Audio Book",
                "operationId": "delete_audio_book_v1_audio_books__audio_book_id__delete",
                "security": [
                    {
                        "APIKeyHeader": []
                    },
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "audio_book_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Audio Book Id"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Successful Response"
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/health": {
            "get": {
                "summary": "Get Health Status",
                "operationId": "get_health_status_health_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "AudioBookModel": {
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid",
                        "title": "Id"
                    },
                    "file": {
                        "type": "string",
                        "title": "File",
                        "description": "A Public accessible URI or path string pointing to the text file.",
                        "examples": [
                            "https://dpodkdhb03iee.cloudfront.net/TESTS/a553898a-e693-4c15-b3e6-32db42cf9482_AudioBook.txt"
                        ]
                    },
                    "name": {
                        "type": "string",
                        "title": "Name",
                        "description": "The title of your audiobook",
                        "examples": [
                            "The Great Gatsby: Afro-Centric Edition"
                        ]
                    },
                    "source_language": {
                        "$ref": "#/components/schemas/Language",
                        "description": "The starting language (case-sensitive to your Enum)",
                        "examples": [
                            "English"
                        ]
                    },
                    "target_language": {
                        "$ref": "#/components/schemas/Language",
                        "description": "A String of valid Language enum values",
                        "examples": [
                            "English",
                            "Hindu",
                            "Chinese"
                        ]
                    },
                    "audio_book_cover": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Audio Book Cover",
                        "description": "Public Accessible URI to an image to be used as the Audio Book Cover",
                        "examples": [
                            "https://example.com/covers/cover01.jpg"
                        ]
                    },
                    "localized_file": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Localized File"
                    },
                    "task_status": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Task Status"
                    },
                    "task_progress": {
                        "anyOf": [
                            {
                                "type": "number"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Task Progress"
                    },
                    "date_created": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Date Created"
                    },
                    "date_updated": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Date Updated"
                    }
                },
                "type": "object",
                "required": [
                    "id",
                    "file",
                    "name",
                    "source_language",
                    "target_language",
                    "audio_book_cover",
                    "date_created",
                    "date_updated"
                ],
                "title": "AudioBookModel"
            },
            "CreateAudioBookModel": {
                "properties": {
                    "file": {
                        "type": "string",
                        "title": "File",
                        "description": "A Public accessible URI or path string pointing to the text file.",
                        "examples": [
                            "https://dpodkdhb03iee.cloudfront.net/TESTS/a553898a-e693-4c15-b3e6-32db42cf9482_AudioBook.txt"
                        ]
                    },
                    "name": {
                        "type": "string",
                        "title": "Name",
                        "description": "The title of your audiobook",
                        "examples": [
                            "The Great Gatsby: Afro-Centric Edition"
                        ]
                    },
                    "source_language": {
                        "$ref": "#/components/schemas/Language",
                        "description": "The starting language (case-sensitive to your Enum)",
                        "examples": [
                            "English"
                        ]
                    },
                    "target_language": {
                        "$ref": "#/components/schemas/Language",
                        "description": "A String of valid Language enum values",
                        "examples": [
                            "English",
                            "Hindu",
                            "Chinese"
                        ]
                    },
                    "use_voice_clone": {
                        "type": "boolean",
                        "title": "Use Voice Clone",
                        "default": false
                    },
                    "preset_voice_name": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Preset Voice Name"
                    },
                    "voice_clone_sample": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Voice Clone Sample"
                    }
                },
                "type": "object",
                "required": [
                    "file",
                    "name",
                    "source_language",
                    "target_language"
                ],
                "title": "CreateAudioBookModel"
            },
            "HTTPValidationError": {
                "properties": {
                    "detail": {
                        "items": {
                            "$ref": "#/components/schemas/ValidationError"
                        },
                        "type": "array",
                        "title": "Detail"
                    }
                },
                "type": "object",
                "title": "HTTPValidationError"
            },
            "Language": {
                "type": "string",
                "enum": [
                    "French",
                    "English",
                    "Amharic",
                    "Swahili",
                    "Chinese",
                    "Japanese",
                    "Korean",
                    "German",
                    "Russian",
                    "Portuguese",
                    "Spanish",
                    "Italian",
                    "Arabic",
                    "Dutch",
                    "Hindi",
                    "Urdu"
                ],
                "title": "Language"
            },
            "StreamAudioModel": {
                "properties": {
                    "file": {
                        "type": "string",
                        "title": "File",
                        "description": "A Public accessible URI or path string pointing to the audio file.",
                        "examples": [
                            "https://dpodkdhb03iee.cloudfront.net/TESTS/396a2b55-0fa6-4fed-a5fd-25381219c4ec_harvard.wav"
                        ]
                    },
                    "source_language": {
                        "$ref": "#/components/schemas/Language",
                        "description": "The starting language (case-sensitive to your Enum)",
                        "examples": [
                            "English"
                        ]
                    },
                    "target_language": {
                        "$ref": "#/components/schemas/Language",
                        "description": "A String of valid Language enum values",
                        "examples": [
                            "English",
                            "Hindu",
                            "Chinese"
                        ]
                    }
                },
                "type": "object",
                "required": [
                    "file",
                    "source_language",
                    "target_language"
                ],
                "title": "StreamAudioModel"
            },
            "SubtitleVideoModel": {
                "properties": {
                    "file": {
                        "type": "string",
                        "title": "File",
                        "description": "A Public accessible URI or path string pointing to the video file.",
                        "examples": [
                            "s3://bucket/audio/lesson_1.mp4"
                        ]
                    },
                    "source_language": {
                        "$ref": "#/components/schemas/Language",
                        "description": "The starting language (case-sensitive to your Enum)",
                        "examples": [
                            "English"
                        ]
                    },
                    "target_language": {
                        "$ref": "#/components/schemas/Language",
                        "description": "A String of valid Language enum values",
                        "examples": [
                            "English",
                            "Hindu",
                            "Chinese"
                        ]
                    }
                },
                "type": "object",
                "required": [
                    "file",
                    "source_language",
                    "target_language"
                ],
                "title": "SubtitleVideoModel"
            },
            "UpdateAudioBookModel": {
                "properties": {
                    "name": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Name"
                    },
                    "audio_book_cover": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Audio Book Cover"
                    }
                },
                "type": "object",
                "title": "UpdateAudioBookModel"
            },
            "ValidationError": {
                "properties": {
                    "loc": {
                        "items": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "integer"
                                }
                            ]
                        },
                        "type": "array",
                        "title": "Location"
                    },
                    "msg": {
                        "type": "string",
                        "title": "Message"
                    },
                    "type": {
                        "type": "string",
                        "title": "Error Type"
                    },
                    "input": {
                        "title": "Input"
                    },
                    "ctx": {
                        "type": "object",
                        "title": "Context"
                    }
                },
                "type": "object",
                "required": [
                    "loc",
                    "msg",
                    "type"
                ],
                "title": "ValidationError"
            },
            "VoiceModel": {
                "properties": {
                    "file": {
                        "type": "string",
                        "title": "File",
                        "description": "A Public accessible URI or path string pointing to the audio file.",
                        "examples": [
                            "https://dpodkdhb03iee.cloudfront.net/TESTS/396a2b55-0fa6-4fed-a5fd-25381219c4ec_harvard.wav"
                        ]
                    },
                    "source_language": {
                        "$ref": "#/components/schemas/Language",
                        "description": "The starting language (case-sensitive to your Enum)",
                        "examples": [
                            "English"
                        ]
                    },
                    "target_language": {
                        "$ref": "#/components/schemas/Language",
                        "description": "A String of valid Language enum values",
                        "examples": [
                            "English",
                            "Hindu",
                            "Chinese"
                        ]
                    },
                    "id": {
                        "type": "string",
                        "format": "uuid",
                        "title": "Id"
                    },
                    "localized_file": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Localized File"
                    },
                    "task_status": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Task Status"
                    },
                    "task_progress": {
                        "anyOf": [
                            {
                                "type": "number"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Task Progress"
                    },
                    "date_created": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Date Created"
                    },
                    "date_updated": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Date Updated"
                    }
                },
                "type": "object",
                "required": [
                    "file",
                    "source_language",
                    "target_language",
                    "id",
                    "localized_file",
                    "task_status",
                    "task_progress",
                    "date_created",
                    "date_updated"
                ],
                "title": "VoiceModel"
            }
        },
        "securitySchemes": {
            "APIKeyHeader": {
                "type": "apiKey",
                "in": "header",
                "name": "API-KEY"
            },
            "HTTPBearer": {
                "type": "http",
                "scheme": "bearer"
            }
        }
    }
}